# ==========================================
# FRONTEND
# ==========================================

Frontend/node_modules/
Frontend/dist/

Frontend/.env
Frontend/.env.local
Frontend/.env.development.local
Frontend/.env.production.local

# ==========================================
# BACKEND
# ==========================================

Backend/.clasp.json
Backend/node_modules/

# Opcional: subir .clasp.json
# Si eres el único desarrollador, yo SÍ lo subiría.
# Backend/.clasp.json

# ==========================================
# VS CODE
# ==========================================

.vscode/

# ==========================================
# SO
# ==========================================

Thumbs.db
.DS_Store